@use '../utils/_variables' as *;
@use "../base/reset";
@use '../base/_typographies';
@use '../components/_navbar';

img#presentation{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    max-width: 600px;
}

header{
    max-width: $mxw;
    margin: auto;
    padding: 0 1.25rem;
    box-sizing: border-box;
    margin-bottom: 8rem;

    .navburger {
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100vh;
        background-color: #90115d;
        transition: transform 0.5s ease-in-out; 
        transform: translateX(-100%);
        display: flex;
        flex-direction: column;

        li {
            list-style: none;
        a {
            padding-top: 20px;
            padding-bottom: 20px;
            
            text-decoration: none;
            font-weight: 300;
        }
        a:hover {
            font-weight: bold;
            font-size: 26px;
            border: solid 1px;
        }
    }
    }
    
    .navburger.open {
        transform: translateX(0);
    }

    
    
    section{
        max-width: 550px;
    }

}